@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.img-circular{
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: 600ms;
}

.img-circular:hover{
    transform: scale(1.1);
    transition: 600ms;
}

.img-detalle-receta{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-card-recetas{
    height: 300px;
    object-fit: cover;
}

.img-contactos{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-error404{
    height: 600px;
    width: 600px;
    object-fit: cover;
}

.img-fluid{
    width: 100%;
    height: 450px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

textarea{
    resize: none;
}

@media (min-width: 768px) and (max-width: 1199px){
    .img-circular{
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 390px) and (max-width: 600px){
    .img-error404{
        height: 500px;
        width: 420px;
    }
}

@media (min-width: 320px) and (max-width: 390px){
    .img-error404{
        height: 350px;
        width: 350px;
    }
}